:root {
  --main-bg-color: #f9f7fe;
  --main-font-color: #6c63ff;
  --second-font-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 30px;
}

p.about-project {
  font-size: 18px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: var(--second-font-color);
  transition: all 100ms ease-in-out;
}

nav a.active {
  color: var(--main-font-color);
}

nav a:hover {
  color: var(--main-font-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--main-bg-color);
  padding: 50px 100px;
  border-radius: 10px;
}

footer .contact-box h4 {
  font-size: 48px;
}

footer .contact-box a {
  padding: 10px 40px;
}

footer .contact-box p {
  margin: 0;
  font-size: 18px;
}

footer .email-link {
  text-decoration: none;
  color: var(--second-font-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--main-font-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--main-font-color);
  background: var(--main-bg-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 180%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--main-font-color);
}

.link-project a {
  text-decoration: none;
  color: var(--main-font-color);
}

.link-project a:hover {
  color: var(--main-font-color);
}

.hero {
  padding: 100px 20px;
  background-color: var(--main-bg-color);
  text-align: center;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var (----second-font-color);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.content-conteiner {
  padding: 60px 20px;
}

.content-conteiner-content {
  margin: 30px;

  text-align: left;
}

.content-conteiner h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
}

.content-conteiner h2 {
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.content-conteiner p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.content p {
  font-size: 14px;
  opacity: 0.7;
}

.btn-branding {
  padding: 18px 46px;
  color: #ffffff;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  background-color: var(--main-font-color);
  border-radius: 4px;
}

.btn-branding-outline {
  padding: 18px 46px;
  color: var(--main-font-color);
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  background-color: #ffffff;
  border: 1px solid var(--main-font-color);
  border-radius: 4px;
}

.project-discription {
  padding: 120px 60px;
}

.logo {
  max-height: 40px;
}

@media (max-width: 900px) {
  .project-discription {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  p {
    font-size: 18px;
  }

  .hero {
    padding: 40px 20px;
  }

  .content-conteiner {
    text-align: center;
    padding-top: 30px;
  }

  .content-conteiner h1 {
    font-size: 36px;
    line-height: 1.5;
  }

  .content-conteiner-content {
    text-align: center;
    padding: 0;
  }

  .btn-branding {
    padding: 12px 24px;
    font-size: 12px;
  }

  footer .contact-box {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  footer .contact-box h4 {
    font-size: 28px;
  }

  footer .contact-box a {
    line-height: 10px;
    padding: 10px 20px;
  }

  footer .contact-box p {
    margin-bottom: 15px;
    font-size: 12px;
  }
}
