:root {
  --main-bg-color: #f9f7fe;
  --main-font-color: #6c63ff;
  --second-font-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 30px;
}

p.about-project {
  font-size: 18px;
}

.hero {
  padding: 240px 20px;
  background-color: var(--main-bg-color);
  text-align: center;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var (----second-font-color);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.content-conteiner {
  padding: 140px 20px;
}

.content-conteiner-content {
  margin: 30px;

  text-align: left;
}

.content-conteiner h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
}

.content-conteiner h2 {
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.content-conteiner p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.content p {
  font-size: 14px;
  opacity: 0.7;
}

.btn-branding {
  padding: 18px 46px;
  color: #ffffff;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  background-color: var(--main-font-color);
  border-radius: 4px;
}

.btn-branding-outline {
  padding: 18px 46px;
  color: var(--main-font-color);
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  background-color: #ffffff;
  border: 1px solid var(--main-font-color);
  border-radius: 4px;
}

.project-discription {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  .project-discription {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  p {
    font-size: 18px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-conteiner {
    text-align: center;
  }

  .content-conteiner h1 {
    font-size: 36px;
    line-height: 1.5;
  }

  .content-conteiner-content {
    text-align: center;
    padding: 0;
  }

  .btn-branding {
    padding: 12px 24px;
    font-size: 12px;
  }
}
